@model RiotServices.FunStatsResponse

@{
    var matchCount = (int)ViewData["MatchCount"];
}

<div>
    @Html.Label(@Model.Name)
    <div>
        @String.Format("{1} ({4:N0}%) were won by the team that had more {2}. {3} ",
            matchCount, Model.Won, Model.Name, Model.Name == "Minion Kills" ? "(This includes Neutral Minions)" : "", ((double) Model.Won/matchCount)*100)
    </div>
    <div>
        @String.Format("{0} games were a tie.", Model.Tied)
    </div>
</div>
<div class="seperator"></div>