@using RiotServices
@model LeagueApi.Models.WinRateChampionData
           
@{
    var champions = (Dictionary<int, ChampionResponse>)ViewBag.Champions;
}

<div>
    @Html.Label(champions.First(x => x.Key == Model.ChampionId).Value.Name) won @String.Format("{0:N2}%", Model.WinRate) of the time.
</div>