<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RiotServices.Properties.Settings.RiotAPIConnectionString"
            connectionString="Data Source=RiotAPI.mssql.somee.com;Initial Catalog=RiotAPI;Persist Security Info=True;User ID=tucker87_SQLLogin_1;Password=x7czukja4e"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
