<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RiotServices.Properties.Settings.RiotDataConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\~Git\LeagueApi\LeagueApi\App_Data\RiotData.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>