<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RiotServices.Properties.Settings.RiotDataConnectionString"
            connectionString="Data Source=notquite.me;Initial Catalog=RiotAPI;User ID=RiotApiR;Password=Inf1ltr4t3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
