@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    var innerExceptionMessage = "";
    if (@Model.Exception.InnerException != null)
    {
        innerExceptionMessage = @Model.Exception.InnerException.Message;
    }
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3 class="text-danger">@Model.Exception.Message</h3>
<h3 class="text-danger">@innerExceptionMessage</h3>

