@{
    ViewBag.Title = "League API";
}
@model LeagueApi.Models.ChampionsViewModel
@using (Html.BeginForm("Index", "Champions", FormMethod.Post))
{
    <div class="seperator"></div>

    <table class="DataTable">
        <tbody>
            <tr>
                <td>Champions</td>
                <td>@Html.DropDownListFor(m => m.FirstChampionId, Model.ChampionNames, new { onchange = "this.form.submit();" })</td>
                <td>@Html.DropDownListFor(m => m.SecondChampionId, Model.ChampionNames, new { onchange = "this.form.submit();" })</td>
            </tr>
            @Html.DisplayFor(m => m.ChampionData)
        </tbody>
    </table>
}
