@{
    ViewBag.Title = "League API";
}
@model LeagueApi.Models.ChampionsViewModel
@using (Html.BeginForm("Index", "Champions", FormMethod.Post))
{
    <div class="seperator"></div>

    <table class="DataTable">
        <tbody>
            <tr>
                <td>
                    Champions
                    @Html.DropDownListFor(m => m.ChampionCount, Enumerable.Range(1, 10).Select(x => new SelectListItem{Text = x.ToString(), Value = x.ToString()}), new { onchange = "this.form.submit();" })
                </td>
                @Html.EditorFor(m => m.ChampionIds, "ChampionsList", new { Model.ChampionNames })
            </tr>
            @Html.DisplayFor(m => m.ChampionTotals)
        </tbody>
    </table>
}

<script type="text/javascript">
    $(".sectionHeader").colSpan = $(".sectionHeader").attr("colspan", $(".championList").length + 1);
</script>
